.nav-link {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.nav-link:hover {
    color: gold;
}


.navigator {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar {
    margin: 0;
    padding: 0;
    box-shadow: none;
    background-color: black;
}

.navbar-nav {
    background-color: black;
    border-radius: 0px;
    margin: 0px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}


.navbar .container-fluid {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.logo {
    height: 10vh;   
}
